.game-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.left-half {
  width: 30%;
  padding-top: 30px;
}

.right-half {
  width: 70%;

  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-cover {
  width: 100%;
  border-radius: 15px;
  transition: 0.5s;
}

.game-cover:hover {
  box-shadow: 1px 1px 20px 3px rgba(255, 255, 255, 0.178);
}

.game-info-top {
  display: flex;
  flex-direction: column;
}

.game-title {
  font-weight: bold;
  font-size: 25px;
}

.game-creator {
  font-size: 18px;
}

.game-platform {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap:10px;
    padding-bottom: 10px;
  }

  
.game-info-bottom {
    display: flex;
    flex-direction: column;
  }

.game-price{
    font-size: 30px;
    text-decoration: line-through;
}

.game-price-sale{
    font-size: 50px;
    font-weight: bold;
}
@media screen and (max-width: 630px) {
  .left-half {
    width: 50%;
    padding-left: 20px;
  }
  
  .right-half {
    width: 50%;
  }
.game-price{
  font-size: 20px;
  text-decoration: line-through;
}

.game-price-sale{
  font-size: 30px;
  font-weight: bold;
}



.game-long-description{
  padding: 20px;
 }

}

.platform-icon{
  width: 25px;
  padding-top: 10px;
}


.buy-btn {
    background-color: rgb(8, 189, 8);
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .buy-btn:hover {
    background-color: rgb(9, 136, 9);
  }

  .cart-btn {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  .cart-btn:hover {
    background-color: #2980b9;
  }

  .bag-img {
    width: 20px;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }


  .games-container{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .game-long-description{
    text-align: justify;
  }