  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

  html{
    font-family: Kanit; 
    color: white;
    background: linear-gradient(90deg, #201c42, #2f1635, #361430);
}

a{
  text-decoration: none;
}