  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

  html{
    font-family: Kanit; 
    color: white;
    background: linear-gradient(90deg, #453e84, #683675, #7c3771);
}